*{
    color:black;
    font-size-adjust: 48px;
    





}
p{
    color:gray
}

.paratexte{[:read-only]


}

h1{

    color: green;
}

h1{color: red;
    font-size: 26;


}

h2{

    color:red;
    font-size:26 ;



}